body {
    background-image: url(../images/2206_w019_n001_601a_p30_601.jpg);
}

#inputTable {
    width: 600px;
    height: auto;
    margin: 150px 0 0 calc((100% - 600px) / 2);
    box-shadow: 0px 5px 10px 10px rgb(36, 35, 35);
    background-image: url(../images/depositphotos_3423532-stock-illustration-gray-metal-background.jpg);
    opacity: 0.7;
}

#outputTable {
    width: 600px;
    height: auto;
    margin: 450px 0 0 calc((100% - 600px) / 2);
}

#input,
input {
    margin-left: 33%;
    width: 200px !important;
}

label {
    text-align: center;
}

input {
    width: 200px !important;
}

th, thead, td {
    text-align: center !important;
    padding: 0 50px 0 50px;
}

.save {
    width: 100px;
    margin: 20px 0 10px 50px !important;
}

/* ========overWrite BootStrap========= */
.modal, .modal-content {
    background-color: #ffffff00 !important;
    border: none !important;
}

.modal-header {
    border: none !important;
}

/* ===================================== */